<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Match&Chat</a>
            </div>
        
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/about">About</a></li>
                <li><a href="/chat">Chat</a></li>
                {{#if id}}
                    <li><a href="/matches">My matches</a></li>
                {{/if}}
            </ul>
            {{#if id}}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Log out <i class="fas fa-sign-out-alt"></i></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/profile">Profile <i class="fas fa-user-edit"></i></a></li>
                </ul>
            {{else}}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/signup">Sign up <i class="fas fa-user-plus"></i></a></li>
                    <li><a href="/login">Login <i class="fa fa-user"></i></a></li>
                </ul>
            {{/if}}
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="jumbotron">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe harum id soluta asperiores, modi commodi consectetur quidem recusandae qui inventore eius amet quia eligendi ab, esse porro a enim. Quas!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores doloribus, eos harum consequuntur ab beatae accusantium porro tempora qui et in, explicabo doloremque laborum aliquam iste mollitia reiciendis iure sed.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore dolor expedita molestias adipisci ipsa possimus illo fugit totam! Ullam alias nostrum error nam asperiores magnam repudiandae soluta dignissimos consectetur quibusdam?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, aut voluptatum. Commodi eveniet nihil suscipit accusantium, ipsa vel asperiores beatae assumenda omnis neque, voluptatum, quos perferendis aliquam voluptates repudiandae quibusdam?</p>
        </div>
    </div>

{{!-- Set up font awesome kit --}}
<script src="https://kit.fontawesome.com/27610e4d72.js" crossorigin="anonymous"></script>
</body>
</html>