::selection {
    background-color: #b9f0e6;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar-default .navbar-brand {
    color: black;
    font-size: 20px;
}

.navbar-default .navbar-brand:hover {
    color: #555;
}

.signup {
    margin: 20px 150px;        
    padding: 90px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
}

.login {
    margin: 60px 190px;
    padding: 100px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
}

.row{
    background: rgb(28, 58, 107);
    padding: 30px;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    max-width: 80%;
    height: auto;
    box-sizing: border-box;
}

.user-info {
    line-height: 3;
}

#chat {
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    border-radius: 10px;
}

#chat-window {
    height: 400px;
    overflow: auto;
}

#message {
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-size: 16px;
}
    
#send {
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

.chat-messages {
    padding: 10px;
}

.chat-messages .message p {
    font-size: 19px;
}

.chat-message-not-logged {
    background: rgb(23, 196, 248);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: black;
    line-height: 2;
    font-size: 16px; 
}

.link {
    color: black;
    text-decoration: underline;
}

.form-group {
    width: 50%;
    margin: 20px auto;
}

label {
    color: white;
}

.btn-default {
    margin: 0px auto;
}